# Experiments with models from RecTools

Generate mock data

In [2]:
import pandas as pd
import numpy as np
from datetime import timedelta

# Set a random seed for reproducibility
np.random.seed(42)

# Generate a DataFrame with 100 rows
data = []
start_time = pd.Timestamp.now()
time_step = timedelta(minutes=1)

for i in range(100):
    array1 = np.random.randint(-10, 10, size=(2,))
    array2 = np.random.randint(-10, 10, size=(2,))
    label = np.random.choice([-1, 1], size=(1,))[0]
    timestamp = start_time + i * time_step
    data.append([i, i+100, label, timestamp, array1.tolist(), array2.tolist()])
    # data.append([i, i+100, label, timestamp])
    # data.append([array1.tolist(), array2.tolist(), label, timestamp])

# Create the DataFrame
columns = ['User', 'Item', 'weight', 'Timestamp', 'Array1', 'Array2']
df = pd.DataFrame(data, columns=columns)
df.to_csv('../data/temp.csv')
# Display the DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   User       100 non-null    int64
 1   Item       100 non-null    int64
 2   weight     100 non-null    int64
 3   Timestamp  100 non-null    datetime64[ns]
 4   Array1     100 non-null    object
 5   Array2     100 non-null    object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 4.8+ KB
None

## Reading data into RecTools format

In [2]:
from rectools import Columns
from rectools.dataset import Dataset
import pandas as pd
from datetime import timedelta


quotes_labeled_reddit = pd.read_csv('../data/quotes_labeled_reddit.csv', index_col=0)
quotes_labeled_reddit = quotes_labeled_reddit.replace('\r\n','\n', regex=True)

diaries_labeled_reddit = pd.read_csv('../data/diaries_labeled_reddit.csv', index_col=0)

raw_interactions = pd.read_csv('../data/diaries_quotes_emb_twitter_interactions.csv')

In [130]:
rectools_data = []
rectools_diary_dense_features = []
rectools_quote_dense_features = []
rectools_diary_dense_fnames = None
rectools_quote_dense_fnames = None
diaries_index = set()
quotes_index = set()
start_time = pd.Timestamp.now()
time_step = timedelta(minutes=1)
for i, row in raw_interactions.iterrows():
    quote = quotes_labeled_reddit[quotes_labeled_reddit['Text'] == row['Quote']]
    quote_index = int(quote.index[0])
    quote_features = quote.drop('Text', axis=1).iloc[0].to_list()

    diary = diaries_labeled_reddit[diaries_labeled_reddit['Text'] == row['Text']]
    diary_index = int(diary.index[0])
    diary_features = diary.drop('Text', axis=1).iloc[0].to_list()

    timestamp = start_time + i * time_step
    if rectools_diary_dense_fnames is None:
        quote_fnames = quote.columns.to_list()[1:]
        diary_fnames = diary.columns.to_list()[1:]
        rectools_diary_dense_fnames = ['id'] + diary_fnames
        rectools_quote_dense_fnames = ['id'] + quote_fnames
    rectools_data.append([diary_index, quote_index, 2. if row['Interaction'] == 1 else 0.5, timestamp])
    if diary_index not in diaries_index:
        diaries_index.add(diary_index)
        rectools_diary_dense_features.append([diary_index] + diary_features)
    if quote_index not in quotes_index:
        quotes_index.add(quote_index)
        rectools_quote_dense_features.append([quote_index] + quote_features)

rectools_df = pd.DataFrame(rectools_data, columns=[*Columns.Interactions])
user_features_df = pd.DataFrame(rectools_diary_dense_features, columns=rectools_diary_dense_fnames)#.set_index('id')
item_features_df = pd.DataFrame(rectools_quote_dense_features, columns=rectools_quote_dense_fnames)#.set_index('id')
# user_features_df = user_features_df.astype('double')
# item_features_df = item_features_df.astype('double')
rectools_ds = Dataset.construct(rectools_df,
                            user_features_df=user_features_df,
                            cat_user_features=rectools_diary_dense_fnames,
                            item_features_df=item_features_df,
                            cat_item_features=rectools_quote_dense_fnames,
                            make_dense_user_features=True,
                            make_dense_item_features=True,
                            )
rectools_ds

Dataset(user_id_map=IdMap(external_ids=array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518])), item_id_map=IdMap(external_ids=array([760, 554,   0, 224, 566, 826,  48, 321,  75,  57, 315,  30, 668,
       520, 758, 156, 472, 674, 532, 839, 403, 239, 460, 287, 131, 141,
       414, 461,  53, 816,  58, 628, 306, 590, 422, 200, 117, 812, 282,
       256, 328, 771,  74, 395, 471, 303, 453, 596,  45, 650, 767, 297,
       240, 676, 185, 429, 773, 574, 455, 569, 556,  63, 794, 827, 340,
       682, 484, 251, 352, 135, 611, 431, 331, 467, 232, 843, 705, 572,
       408, 549, 790, 243, 263, 152, 268, 490, 409, 736, 804,  18,  13,
       248,  16, 672, 354, 214, 818, 118, 656, 537, 154, 333, 296, 751,
       433,  68, 372, 179, 762, 161, 469,  72, 691, 685, 807, 238, 189,
        26, 107, 831, 557, 215, 376, 712, 168, 398,  25, 316, 844, 496,
       290, 335, 714, 627, 769, 176, 601, 732,  76,  15, 178,  20, 257,
       310, 730, 358, 499, 665, 454,  42, 353, 162, 465, 317, 420, 441,
       620, 151, 273, 216, 555, 150, 766, 613, 241, 448,  79, 711, 120,
        77,  62, 210, 610, 518, 426, 851, 643, 424, 124, 137, 392, 267,
        11, 583, 530, 782, 740,  71, 313, 147, 680, 449, 407, 421, 275,
       697,  51, 833, 222, 199, 788, 694, 250, 565, 440, 780, 742, 735,
       468, 797, 728, 231, 401, 172, 545, 727, 362, 445, 563, 693, 723,
       842, 817, 695, 219, 523, 272, 552, 122, 477, 492, 442, 332, 599,
       527, 413, 399, 541, 531, 186, 277, 236, 394,  60, 748, 436, 169,
       639, 103, 616, 558, 486, 194, 425, 835, 225, 702, 226, 128])), interactions=Interactions(df=     user_id  item_id  weight                   datetime
0          0        0     0.5 2023-11-28 16:53:53.004032
1          1        1     0.5 2023-11-28 16:54:53.004032
2          2        2     0.5 2023-11-28 16:55:53.004032
3          3        3     0.5 2023-11-28 16:56:53.004032
4          4        4     0.5 2023-11-28 16:57:53.004032
..       ...      ...     ...                        ...
514      514      207     2.0 2023-11-29 01:27:53.004032
515      515       13     0.5 2023-11-29 01:28:53.004032
516      516       84     0.5 2023-11-29 01:29:53.004032
517      517      121     0.5 2023-11-29 01:30:53.004032
518      518      258     0.5 2023-11-29 01:31:53.004032

[519 rows x 4 columns]), user_features=DenseFeatures(values=array([[0.5109765 , 0.48795703, 0.08612798, ..., 0.002605  , 0.00255211,
        0.00235655],
       [0.00242582, 0.00971482, 0.00363265, ..., 0.00086568, 0.00146346,
        0.00092784],
       [0.00938346, 0.04687016, 0.00155711, ..., 0.00064013, 0.00080117,
        0.00094855],
       ...,
       [0.00603161, 0.0657874 , 0.00442955, ..., 0.00100483, 0.00122893,
        0.00144656],
       [0.01704638, 0.02009185, 0.00150667, ..., 0.00079552, 0.00117572,
        0.00122048],
       [0.01469606, 0.02432536, 0.00166716, ..., 0.00071671, 0.00115349,
        0.00107869]], dtype=float32), names=('love', 'excitement', 'nervousness', 'joy', 'fear', 'caring', 'approval', 'neutral', 'curiosity', 'desire', 'surprise', 'confusion', 'admiration', 'sadness', 'realization', 'optimism', 'disapproval', 'disappointment', 'relief', 'annoyance', 'anger', 'gratitude', 'pride', 'amusement', 'remorse', 'disgust', 'grief', 'embarrassment')), item_features=DenseFeatures(values=array([[1.82258502e-01, 3.96781461e-03, 7.59247784e-03, ...,
        2.97649782e-02, 1.23820407e-02, 8.12875666e-03],
       [6.49715900e-01, 1.09066628e-03, 1.12337992e-02, ...,
        3.16220656e-04, 8.57970910e-04, 3.42069339e-04],
       [5.51235795e-01, 1.87881708e-01, 6.92746043e-02, ...,
        5.09377103e-04, 4.30778367e-04, 2.87138944e-04],
       ...,
       [7.61058390e-01, 3.73025471e-03, 3.99721460e-03, ...,
        1.22281909e-03, 1.18680475e-02, 1.77992345e-03],
       [9.42847431e-01, 7.49468757e-03, 4.33738995e-03, ...,
        4.09995817e-04, 1.68634916e-03, 2.29887525e-03],
       [8.61112121e-03, 1.03622638e-02, 2.60285903e-02, ...,
        9.69203771e-04, 3.56419524e-03, 2.38050055e-03]], dtype=float32), names=('neutral', 'joy', 'admiration', 'approval', 'love', 'realization', 'excitement', 'pride', 'disappointment', 'relief', 'annoyance', 'sadness', 'caring', 'disapproval', 'amusement', 'desire', 'gratitude', 'optimism', 'anger', 'grief', 'surprise', 'remorse', 'embarrassment', 'disgust', 'fear', 'nervousness', 'confusion', 'curiosity')))

In [131]:
from rectools.model_selection import RandomSplitter


splitter = RandomSplitter(test_fold_frac=0.2, random_state=42, n_splits=1, filter_cold_users=False,
                    filter_cold_items=False, filter_already_seen=False)
for train_ids, test_ids, _ in splitter.split(rectools_ds.interactions):
    print(train_ids, test_ids)

[399 156 422 466 336  97 355 258  44  84 163 138  77  79 442 352 237 502
 166 499 264 185  26 256   2 254  58 395 452 465 510 348 386 497 193 259
  50 478 438 179 299 368 151 241 482 362 373 302 345 101 119 318 509 235
 518  64 305 168 426 389 171 219 244 408   8 213 506 133  38 416 476 271
 222  82  86 374 400 413 331 402 433 104 382 147 380 211 340 464 260 412
 321 231 455 397  24 269 414 484 289 337 379  68 198 306  56 322 204 197
  19 162 440 225 232  30  60 435  73 294   3 358 517 430 446 424 288 245
 343 118 341 310 514 126 471  47 253 200 127 243 146 262 265  27 411  62
 445  36 481 344 363 247 371 172 291 228 273 143 268 441 210 238  89 293
 148 196 409 338 134  12 285  67 396 229 201 516   7 319 515 292  25  92
 233 428 181  75 250 377 165 406 487 149 367  70 255 324 418  54 500 169
 327 215 474 480 158 136 489  95 508 353 186 263 257 403 357 472 356  88
 404 493 248 214  37 417 270 390 276 161 216 207 354 173 112  18 153  11
 448 205 335 384 459  66   9 425  59 450 457   4  94  48 323  93 350 388
 328 251 370  32 155 128 121 227 130 364  81 308 311 361  52 443 342  28
 470 209 106 454 376  14  21 218 473 266 347 488 387  39 436 188  13 189
 405 419 220   5  85 429 423 427 385 332 278 359  78 492 375 512 114 170
 339 123 301 103  90 199 274 449 206  87 221 142 111 329 434 277 407 349
 486 187  65 505  99  71 479  69 410 469 125 177 224  22 117  74 372  10
 116 501 157  63 223 439   1  42 122  17 167 297 309  76 313 296 208 325
  31 129 468 105 290 490 267 398 212 467  43 498 160 317  57 279  23 420
 272  15 432 316 109 137 190 287 451  16 300 240 110 483 431 195  34 286
 314 458  35 333 182  49   6 102 175 139 511  41 366 275 303 113 437 491
 141] [494 159 378 462  51 183 284 507  72 326  55 239 444  83 485  53 145  29
 242  46 495 174 144 283  45 330 249 115 176 203 124  98 351 295 234  91
 164 401 461 202 154 184   0 217 280 477 312 383 261  40 150  80 456 504
 132 236 334  20 394 180 421 346  96 192 281 252 246 381 513 191 369 120
  33 230 226 178  61 447 360 320 108 194 107 304 131 391 315 460 496 463
 392 152 475 503 100 307 298 282 453 365 135 415 393 140]

In [132]:
rectools_df_train = rectools_df.iloc[train_ids]
train_user_ids = rectools_df_train[Columns.User].to_list()
train_item_ids = rectools_df_train[Columns.Item].to_list()
user_features_df_train = user_features_df.loc[user_features_df['id'].isin(train_user_ids)]
item_features_df_train = item_features_df.loc[item_features_df['id'].isin(train_item_ids)]
rectools_ds_train = Dataset.construct(rectools_df_train,
                            user_features_df=user_features_df_train,
                            cat_user_features=rectools_diary_dense_fnames,
                            item_features_df=item_features_df_train,
                            cat_item_features=rectools_quote_dense_fnames,
                            make_dense_user_features=True,
                            make_dense_item_features=True,
                            )
rectools_ds_train

Dataset(user_id_map=IdMap(external_ids=array([399, 156, 422, 466, 336,  97, 355, 258,  44,  84, 163, 138,  77,
        79, 442, 352, 237, 502, 166, 499, 264, 185,  26, 256,   2, 254,
        58, 395, 452, 465, 510, 348, 386, 497, 193, 259,  50, 478, 438,
       179, 299, 368, 151, 241, 482, 362, 373, 302, 345, 101, 119, 318,
       509, 235, 518,  64, 305, 168, 426, 389, 171, 219, 244, 408,   8,
       213, 506, 133,  38, 416, 476, 271, 222,  82,  86, 374, 400, 413,
       331, 402, 433, 104, 382, 147, 380, 211, 340, 464, 260, 412, 321,
       231, 455, 397,  24, 269, 414, 484, 289, 337, 379,  68, 198, 306,
        56, 322, 204, 197,  19, 162, 440, 225, 232,  30,  60, 435,  73,
       294,   3, 358, 517, 430, 446, 424, 288, 245, 343, 118, 341, 310,
       514, 126, 471,  47, 253, 200, 127, 243, 146, 262, 265,  27, 411,
        62, 445,  36, 481, 344, 363, 247, 371, 172, 291, 228, 273, 143,
       268, 441, 210, 238,  89, 293, 148, 196, 409, 338, 134,  12, 285,
        67, 396, 229, 201, 516,   7, 319, 515, 292,  25,  92, 233, 428,
       181,  75, 250, 377, 165, 406, 487, 149, 367,  70, 255, 324, 418,
        54, 500, 169, 327, 215, 474, 480, 158, 136, 489,  95, 508, 353,
       186, 263, 257, 403, 357, 472, 356,  88, 404, 493, 248, 214,  37,
       417, 270, 390, 276, 161, 216, 207, 354, 173, 112,  18, 153,  11,
       448, 205, 335, 384, 459,  66,   9, 425,  59, 450, 457,   4,  94,
        48, 323,  93, 350, 388, 328, 251, 370,  32, 155, 128, 121, 227,
       130, 364,  81, 308, 311, 361,  52, 443, 342,  28, 470, 209, 106,
       454, 376,  14,  21, 218, 473, 266, 347, 488, 387,  39, 436, 188,
        13, 189, 405, 419, 220,   5,  85, 429, 423, 427, 385, 332, 278,
       359,  78, 492, 375, 512, 114, 170, 339, 123, 301, 103,  90, 199,
       274, 449, 206,  87, 221, 142, 111, 329, 434, 277, 407, 349, 486,
       187,  65, 505,  99,  71, 479,  69, 410, 469, 125, 177, 224,  22,
       117,  74, 372,  10, 116, 501, 157,  63, 223, 439,   1,  42, 122,
        17, 167, 297, 309,  76, 313, 296, 208, 325,  31, 129, 468, 105,
       290, 490, 267, 398, 212, 467,  43, 498, 160, 317,  57, 279,  23,
       420, 272,  15, 432, 316, 109, 137, 190, 287, 451,  16, 300, 240,
       110, 483, 431, 195,  34, 286, 314, 458,  35, 333, 182,  49,   6,
       102, 175, 139, 511,  41, 366, 275, 303, 113, 437, 491, 141])), item_id_map=IdMap(external_ids=array([414, 189, 851, 310, 782, 239, 455, 120, 395, 431, 831, 179, 251,
        74, 762,  15, 118, 215, 403, 154, 769, 711,   0, 354, 306, 442,
       236, 225,  51, 449, 194, 433, 107, 639, 844, 290, 321,  26, 827,
       440,  25, 697, 152, 773, 549, 682, 128, 569, 219, 248, 398, 185,
       150, 727,  75, 263, 425, 409, 282, 563, 469, 611, 331, 780, 490,
       224, 583, 545, 523, 468,  57, 705, 465, 277, 527, 131, 735,  16,
       643, 313, 742, 676, 730, 392, 537,  42, 839, 408, 273,  58, 272,
       484, 124, 572, 807, 552, 740,  68, 275, 628, 407, 156, 453, 448,
       499,  72, 596, 461, 555, 297, 117, 103, 656, 694, 520, 296, 210,
       122, 162, 216, 843, 257, 362, 147, 751, 668, 518, 794, 665, 268,
       424, 141, 714, 243, 760, 340,  79, 693, 712,  11, 317, 352, 358,
       790, 835, 176,  62,  48, 232, 812,  45, 401, 610, 420, 532,  30,
        71, 728,  63, 695, 429, 492, 399, 566, 816, 222, 613, 826, 333,
       818, 672, 574, 238, 788, 650, 477, 421,  53,  60, 599, 758, 748,
       200, 256, 732,  76, 723, 316, 231, 530, 226, 168, 680, 241, 353,
       467,  13, 833, 601, 556, 767, 620, 460, 315, 554, 771, 674, 376,
       178, 394, 287, 842, 804, 372, 472,  18, 616, 454,  20, 422, 426,
       627, 702])), interactions=Interactions(df=     user_id  item_id  weight                   datetime
399        0        0     0.5 2023-11-28 23:32:53.004032
156        1        1     0.5 2023-11-28 19:29:53.004032
422        2        2     0.5 2023-11-28 23:55:53.004032
466        3        3     0.5 2023-11-29 00:39:53.004032
336        4        4     0.5 2023-11-28 22:29:53.004032
..       ...      ...     ...                        ...
303      410       81     0.5 2023-11-28 21:56:53.004032
113      411       77     0.5 2023-11-28 18:46:53.004032
437      412       10     0.5 2023-11-29 00:10:53.004032
491      413       20     0.5 2023-11-29 01:04:53.004032
141      414      170     2.0 2023-11-28 19:14:53.004032

[415 rows x 4 columns]), user_features=DenseFeatures(values=array([[0.00672539, 0.03142791, 0.0026605 , ..., 0.000859  , 0.00204995,
        0.00144565],
       [0.00288766, 0.00149561, 0.00433313, ..., 0.00183584, 0.00272102,
        0.00137356],
       [0.00229942, 0.04312025, 0.0040994 , ..., 0.00229287, 0.00481315,
        0.00509778],
       ...,
       [0.00245277, 0.00599761, 0.00028989, ..., 0.00081394, 0.00090518,
        0.00060591],
       [0.01429307, 0.21238542, 0.00115322, ..., 0.00079522, 0.00061554,
        0.00040286],
       [0.05251709, 0.01800349, 0.00310779, ..., 0.00087784, 0.00210764,
        0.00128012]], dtype=float32), names=('love', 'excitement', 'nervousness', 'joy', 'fear', 'caring', 'approval', 'neutral', 'curiosity', 'desire', 'surprise', 'confusion', 'admiration', 'sadness', 'realization', 'optimism', 'disapproval', 'disappointment', 'relief', 'annoyance', 'anger', 'gratitude', 'pride', 'amusement', 'remorse', 'disgust', 'grief', 'embarrassment')), item_features=DenseFeatures(values=array([[1.15123026e-01, 8.07752609e-02, 1.06036000e-01, ...,
        7.51996471e-04, 9.53014009e-04, 3.40690627e-03],
       [4.71241206e-01, 8.15703627e-03, 2.88424231e-02, ...,
        3.03007127e-03, 5.06381644e-03, 3.65683064e-03],
       [9.22901556e-02, 5.45303663e-03, 4.13770378e-02, ...,
        9.90091823e-04, 2.05985387e-03, 1.80664484e-03],
       ...,
       [3.53855789e-02, 6.45028148e-03, 3.46405385e-03, ...,
        1.05463546e-02, 3.05922120e-03, 4.03364981e-03],
       [3.79942060e-01, 2.79674004e-03, 3.30970972e-03, ...,
        5.81532426e-04, 1.87087082e-03, 1.28428056e-03],
       [7.61058390e-01, 3.73025471e-03, 3.99721460e-03, ...,
        1.22281909e-03, 1.18680475e-02, 1.77992345e-03]], dtype=float32), names=('neutral', 'joy', 'admiration', 'approval', 'love', 'realization', 'excitement', 'pride', 'disappointment', 'relief', 'annoyance', 'sadness', 'caring', 'disapproval', 'amusement', 'desire', 'gratitude', 'optimism', 'anger', 'grief', 'surprise', 'remorse', 'embarrassment', 'disgust', 'fear', 'nervousness', 'confusion', 'curiosity')))

In [133]:
rectools_df_test = rectools_df.iloc[test_ids]
test_user_ids = rectools_df_test[Columns.User].to_list()
test_item_ids = rectools_df_test[Columns.Item].to_list()
user_features_df_test = user_features_df.loc[user_features_df['id'].isin(test_user_ids)]
item_features_df_test = item_features_df.loc[item_features_df['id'].isin(test_item_ids)]
rectools_ds_test = Dataset.construct(rectools_df_test,
                            user_features_df=user_features_df_test,
                            cat_user_features=rectools_diary_dense_fnames,
                            item_features_df=item_features_df_test,
                            cat_item_features=rectools_quote_dense_fnames,
                            make_dense_user_features=True,
                            make_dense_item_features=True,
                            )
rectools_ds_test

Dataset(user_id_map=IdMap(external_ids=array([494, 159, 378, 462,  51, 183, 284, 507,  72, 326,  55, 239, 444,
        83, 485,  53, 145,  29, 242,  46, 495, 174, 144, 283,  45, 330,
       249, 115, 176, 203, 124,  98, 351, 295, 234,  91, 164, 401, 461,
       202, 154, 184,   0, 217, 280, 477, 312, 383, 261,  40, 150,  80,
       456, 504, 132, 236, 334,  20, 394, 180, 421, 346,  96, 192, 281,
       252, 246, 381, 513, 191, 369, 120,  33, 230, 226, 178,  61, 447,
       360, 320, 108, 194, 107, 304, 131, 391, 315, 460, 496, 463, 392,
       152, 475, 503, 100, 307, 298, 282, 453, 365, 135, 415, 393, 140])), item_id_map=IdMap(external_ids=array([558, 321, 185, 531,  45, 335,  16, 773, 682,  25, 240, 555, 340,
       827, 599, 767, 469, 816, 409, 303, 486, 316, 161, 499, 471, 238,
       556, 455, 844, 454, 656, 199, 137,  26, 572, 557, 107, 224, 460,
       760, 441, 150, 169, 352, 797,  77, 328, 691, 135, 413, 306, 151,
       740, 403, 817, 243, 178, 241, 766, 735, 277, 565, 214, 590,  74,
       496, 574,  79, 736,  63, 520, 769,  58, 172, 541, 250, 186, 685,
       436, 263, 267, 332, 433, 445, 851, 429])), interactions=Interactions(df=     user_id  item_id  weight                   datetime
494        0        0     2.0 2023-11-29 01:07:53.004032
159        1        1     0.5 2023-11-28 19:32:53.004032
378        2        2     0.5 2023-11-28 23:11:53.004032
462        3        3     2.0 2023-11-29 00:35:53.004032
51         4        4     0.5 2023-11-28 17:44:53.004032
..       ...      ...     ...                        ...
365       99       75     0.5 2023-11-28 22:58:53.004032
135      100       82     0.5 2023-11-28 19:08:53.004032
415      101       83     0.5 2023-11-28 23:48:53.004032
393      102       84     0.5 2023-11-28 23:26:53.004032
140      103       85     0.5 2023-11-28 19:13:53.004032

[104 rows x 4 columns]), user_features=DenseFeatures(values=array([[1.48490565e-02, 2.93932021e-01, 1.07962382e-03, ...,
        6.18675957e-04, 6.65553554e-04, 5.58787200e-04],
       [1.44512381e-03, 5.08692255e-03, 1.64305427e-04, ...,
        4.51196422e-04, 2.87011382e-04, 2.07351564e-04],
       [2.37666606e-03, 8.75261705e-03, 1.57115962e-02, ...,
        1.14795635e-03, 4.11540549e-03, 2.12385016e-03],
       ...,
       [8.40008352e-03, 2.64049061e-02, 2.05112319e-03, ...,
        7.44955498e-04, 2.45956751e-03, 1.02204829e-03],
       [6.57175630e-02, 3.15476656e-02, 2.86776642e-03, ...,
        1.00272731e-03, 1.90222892e-03, 1.14740373e-03],
       [7.86223829e-01, 6.39297767e-03, 1.95612386e-03, ...,
        1.49586680e-03, 1.70694408e-03, 6.01687701e-04]], dtype=float32), names=('love', 'excitement', 'nervousness', 'joy', 'fear', 'caring', 'approval', 'neutral', 'curiosity', 'desire', 'surprise', 'confusion', 'admiration', 'sadness', 'realization', 'optimism', 'disapproval', 'disappointment', 'relief', 'annoyance', 'anger', 'gratitude', 'pride', 'amusement', 'remorse', 'disgust', 'grief', 'embarrassment')), item_features=DenseFeatures(values=array([[7.54814371e-02, 2.44968012e-01, 2.31337119e-02, ...,
        1.96375838e-03, 1.71128463e-03, 2.13311333e-03],
       [4.10042442e-02, 3.15033570e-02, 9.39224511e-02, ...,
        4.31430899e-03, 5.08631254e-03, 3.73902842e-02],
       [3.61492895e-02, 6.78786123e-03, 8.89116049e-01, ...,
        2.28357298e-04, 3.18648573e-03, 2.04138877e-03],
       ...,
       [4.36561882e-01, 5.39021427e-03, 4.62432858e-03, ...,
        1.48230523e-03, 3.68978060e-03, 3.89954494e-03],
       [9.22901556e-02, 5.45303663e-03, 4.13770378e-02, ...,
        9.90091823e-04, 2.05985387e-03, 1.80664484e-03],
       [1.07134916e-01, 7.35007972e-03, 2.91258004e-02, ...,
        4.44288627e-04, 2.77597434e-03, 1.31455984e-03]], dtype=float32), names=('neutral', 'joy', 'admiration', 'approval', 'love', 'realization', 'excitement', 'pride', 'disappointment', 'relief', 'annoyance', 'sadness', 'caring', 'disapproval', 'amusement', 'desire', 'gratitude', 'optimism', 'anger', 'grief', 'surprise', 'remorse', 'embarrassment', 'disgust', 'fear', 'nervousness', 'confusion', 'curiosity')))

## Fit-predict

In [178]:
from rectools.models import PopularModel

model = PopularModel()
model.fit(rectools_ds_train)
recos = model.recommend(
    users=rectools_df_train[Columns.User].unique(),
    dataset=rectools_ds_train,
    k=10,
    filter_viewed=True,
)

In [179]:
recos

      user_id  item_id  score  rank
0         399      306   10.0     1
1         399      239    7.0     2
2         399      185    6.0     3
3         399      827    6.0     4
4         399      156    6.0     5
...       ...      ...    ...   ...
4145      141      354    6.0     6
4146      141      268    6.0     7
4147      141      154    6.0     8
4148      141       15    5.0     9
4149      141      520    5.0    10

[4150 rows x 4 columns]

In [180]:
from rectools.models import RandomModel


model_rnd = RandomModel()
model_rnd.fit(rectools_ds_train)
recos_rnd = model_rnd.recommend(
    users=rectools_df_train[Columns.User].unique(),
    dataset=rectools_ds_train,
    k=10,
    filter_viewed=True,
)

In [181]:
recos_rnd

      user_id  item_id  score  rank
0         399      118     10     1
1         399      117      9     2
2         399      449      8     3
3         399      826      7     4
4         399      251      6     5
...       ...      ...    ...   ...
4145      141       79      5     6
4146      141      639      4     7
4147      141      730      3     8
4148      141      460      2     9
4149      141      499      1    10

[4150 rows x 4 columns]

In [182]:
from rectools.models import PureSVDModel


model_svd = PureSVDModel()
model_svd.fit(rectools_ds_train)
recos_svd = model.recommend(
    users=rectools_df_train[Columns.User].unique(),
    dataset=rectools_ds_train,
    k=10,
    filter_viewed=True,
)

In [183]:
recos_svd

      user_id  item_id  score  rank
0         399      306   10.0     1
1         399      239    7.0     2
2         399      185    6.0     3
3         399      827    6.0     4
4         399      156    6.0     5
...       ...      ...    ...   ...
4145      141      354    6.0     6
4146      141      268    6.0     7
4147      141      154    6.0     8
4148      141       15    5.0     9
4149      141      520    5.0    10

[4150 rows x 4 columns]

In [184]:
from rectools.models import ImplicitALSWrapperModel
from implicit.als import AlternatingLeastSquares


model_als = ImplicitALSWrapperModel(
        AlternatingLeastSquares(
            factors=64,
            regularization=0.01,
            alpha=1,
            random_state=2023,
            use_gpu=False,
            iterations=15
            )
        )
model_als.fit(rectools_ds_train)
recos_als = model_als.recommend(
    users=rectools_df_train[Columns.User].unique(),
    dataset=rectools_ds_train,
    k=10,
    filter_viewed=True,
)

  0%|          | 0/1 [00:00<?, ?it/s]

  0%|          | 0/1 [00:00<?, ?it/s]

In [185]:
recos_als

      user_id  item_id     score  rank
0         399      321  0.094171     1
1         399      306  0.086694     2
2         399       26  0.043213     3
3         399      107  0.042127     4
4         399       75  0.039770     5
...       ...      ...       ...   ...
4145      141      730  0.170825     6
4146      141      352  0.156506     7
4147      141      231  0.143746     8
4148      141      572  0.134641     9
4149      141      742  0.134287    10

[4150 rows x 4 columns]

In [141]:
from rectools.models import LightFMWrapperModel
from lightfm import LightFM


model_lfm = LightFMWrapperModel(
        model=LightFM(no_components = 30)
        )
model_lfm.fit(rectools_ds_train)
recos_lfm = model_lfm.recommend(
    users=rectools_df_train[Columns.User].unique(),
    dataset=rectools_ds_train,
    k=10,
    filter_viewed=True,
)

In [142]:
recos_lfm

      user_id  item_id     score  rank
0         399      354  1.705025     1
1         399      352  1.694038     2
2         399      732  1.688239     3
3         399      238  1.684359     4
4         399      120  1.674429     5
...       ...      ...       ...   ...
4145      141      794  1.640827     6
4146      141       57  1.640790     7
4147      141      440  1.634644     8
4148      141      650  1.634181     9
4149      141      643  1.633598    10

[4150 rows x 4 columns]

## Evaluation

In [188]:
from rectools.metrics import NDCG, Accuracy, IntraListDiversity, MAP, MCC, MRR, MeanInvUserFreq, Precision, Recall, Serendipity
from rectools.metrics.distances import PairwiseHammingDistanceCalculator
from sklearn.model_selection import train_test_split


k = 10

ndcg = NDCG(k=k, log_base=3)
acc = Accuracy(k=k)
mmap = MAP(k=k)
ild = IntraListDiversity(k=k, distance_calculator=PairwiseHammingDistanceCalculator(item_features_df_test))
mcc = MCC(k=k)
mrr = MRR(k=k)
miuf = MeanInvUserFreq(k=k)
prc = Precision(k=k)
rec = Recall(k=k)
srd = Serendipity(k=k)

interactions, prev_interactions = train_test_split(rectools_df_test[[Columns.User, Columns.Item]], train_size=0.2, random_state=42)  # Assumption
reco = recos_lfm[[Columns.User, Columns.Item, Columns.Rank]]
# interactions = rectools_df_test[[Columns.User, Columns.Item]]
# prev_interactions = rectools_df_test[[Columns.User, Columns.Item]]  # TODO: define
catalog = item_features_df_test['id'].unique()  # Collection of unique item ids that could be used for recommendations

In [189]:
print("NDCG: ", ndcg.calc(reco=reco, interactions=interactions))
print("Accuracy: ", acc.calc(reco=reco, interactions=interactions, catalog=catalog))
print("IntraListDiversity: ", ild.calc(reco=reco))
print('MAP: ', mmap.calc(reco=reco, interactions=interactions))
print('MCC: ', mcc.calc(reco=reco, interactions=interactions, catalog=catalog))
print('MRR: ', mrr.calc(reco=reco, interactions=interactions))
print('MeanInvUserFreq: ', miuf.calc(reco=reco, prev_interactions=prev_interactions))
print('Precision: ', prc.calc(reco=reco, interactions=interactions))
print('Recall: ', rec.calc(reco=reco, interactions=interactions))
print('Serendipity: ', srd.calc(reco=reco, interactions=interactions, prev_interactions=prev_interactions, catalog=catalog))

NDCG:  0.0
Accuracy:  0.8720930232558141
IntraListDiversity:  29.0
MAP:  0.0
MCC:  -0.039344473768231684
MRR:  0.0
MeanInvUserFreq:  6.136453657647274
Precision:  0.0
Recall:  0.0
Serendipity:  0.0

/root/miniconda3/envs/vladimir-torch/lib/python3.10/site-packages/rectools/metrics/distances.py:78: UserWarning: Some items has absent feature values (NaN values in some columns of item_features_df or complete absence of corresponding rows). Corresponding pair distances are set to NaN.
  warnings.warn(